<% if (post.comments) { %>
  <section id="comments">
  	<% if (theme.comment.type === 'disqus') { %>
      <!-- <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div> -->
    <% } else if (theme.comment.type === 'youyan') { %>
      <!-- <div id="uyan_frame"></div> -->
    <% } else if (theme.comment.type === 'livere') { %>
 
    <% } else if (theme.comment.type === 'gitment') { %>

    <% } else if (theme.comment.type === 'gitalk') { %>
      <div id="gitalk-container"></div>
      <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">

      <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
       <script type="text/javascript">
        var gitalk = new Gitalk({
          clientID: '{{ theme.gitalk.ClientID }}',
          clientSecret: '{{ theme.gitalk.ClientSecret }}',
          repo: '{{ theme.gitalk.repo }}',
          owner: '{{ theme.gitalk.owner }}',
          admin: ['{{ theme.gitalk.admin }}'],
          id: location.pathname,
          distractionFreeMode: false
        })
        gitalk.render('gitalk-container')           
        </script>
        
    <% } else if (theme.comment.type === 'valine') { %>
      <!-- <div id="vcomments"></div> -->
    <% } %>
  </section>
<% } %>
